body {

    padding: 0;
    margin: 0;
}



#header-part {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header-part .text {
    text-align: center;
    padding: 180px 150px;
}

#header-part .text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: white;
}

#header-part .text p {
    margin-top: -25px;
    color: white;
    padding: 0 200px;
    font-size: 20px;
}

#header-part .text a {
    background-color: tomato;
    padding: 7px 10px;
    color: #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: .4s;
}

#header-part .text a:hover {
    background-color: navy;
}

/* header-part css end */


.donate-today-part .donate-text {
    text-align: center;
    margin-top: 100px;
}

.donate-today-part .donate-text h1 {
    font-size: 50px;
    font-weight: 700;
}

.donate-today-part .donate-text p {
    color: rgb(145, 141, 141);
    padding: 0 360px;
    font-size: 20px;

}


.donate-today-part .box-contain {
    justify-content: space-evenly;
    padding: 0 300px;
    text-align: center;
    display: flex;
}

.donate-today-part .box-contain .box1 {
    margin: 30px 0;
    padding: 15px 30px;
    transition: .4s;
    color: rgb(165, 155, 155);
}

.donate-today-part .box-contain .box1:hover {
    color: white;
    background: tomato;
    border-radius: 5px;
}

.donate-today-part h3 {
    text-align: center;
    color: rgb(145, 141, 141);
    padding: 20px;
}

.donate-today-part hr {
    margin-bottom: 30px;
}

.donate-today-part a {
    background-color: tomato;
    padding: 7px 10px;
    color: #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: .4s;
    margin: 0 620px;
}

.donate-today-part a:hover {
    background-color: navy;
}

/* donate-today-part css end */


#our-donate-paln-part .donate-text {
    text-align: center;
    margin-top: 100px;
}

#our-donate-paln-part .donate-text h1 {
    font-size: 50px;
    font-weight: 700;
}

#our-donate-paln-part .donate-text p {
    color: rgb(145, 141, 141);
    padding: 0 360px;
    font-size: 20px;

}

#our-donate-paln-part .box-contain {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: white;
}



#our-donate-paln-part .box-contain h3 {
    color: black;
    font-size: 30px;
}

#our-donate-paln-part .box-contain p {
    color: #ddd;
    font-size: 18px;
}

#our-donate-paln-part .box-contain .box1 {
    margin: 50px 0;
    width: 22%;
    background-color: rgb(233, 129, 110);
    padding: 50px 20px;
    border-radius: 10px;
}

#our-donate-paln-part .box-contain .box2 {
    margin: 50px 0;
    width: 22%;
    background-color: rgb(233, 164, 152);
    padding: 50px 20px;
    border-radius: 10px;
}

#our-donate-paln-part .box-contain .box3 {
    margin: 50px 0;
    width: 22%;
    background-color: rgb(147, 80, 80);
    padding: 50px 20px;
    border-radius: 10px;
}

/* our-donate-paln-part css end */
.Contribute-part {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.Contribute-part .text {
    width: 50%;
    padding-left: 5%;

}

.Contribute-part .text h1 {
    font-size: 50px;
    font-weight: 700;
}

.Contribute-part .text p {
    color: rgb(145, 141, 141);
    font-size: 18px;
    margin-bottom: 30px;
}

.Contribute-part .text a {
    background-color: tomato;
    padding: 10px 15px;
    color: #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: .4s;
    font-size: 20px;
}

.Contribute-part .text a:hover {
    background-color: navy;
}

.Contribute-part .img {
    width: 50%;
    padding-left: 15%;
    padding-right: 15%;

}

.Contribute-part .img img {
    width: 130%;
}

/* Contribute-part css end */
.need-us-part {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}



.need-us-part .text h1 {
    font-size: 50px;
    font-weight: 700;
}

.need-us-part .text p {
    color: rgb(145, 141, 141);
    font-size: 18px;
    margin-bottom: 30px;
}

.need-us-part .text a {
    background-color: tomato;
    padding: 10px 15px;
    color: #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: .4s;
    font-size: 20px;
}

.need-us-part .text a:hover {
    background-color: navy;
}


.need-us-part .text {
    width: 50%;
    padding-right: 10%;
    padding-left: 10%;

}

.need-us-part .img {
    width: 50%;
    padding-left: 5%;


}

.need-us-part .img img {
    width: 100%;
}

/* need-us-part css end */

#contact-me {
    margin: 100px;
}

#contact-me h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

#contact-me .contact-list {
    display: flex;
    background-color: tomato;
    margin-left: 270px;
    width: 600px;
    height: 400px;
}

#contact-me .contact-list .create-an-account {
    padding: 20px 50px;
    width: 50%;
}

#contact-me .contact-list .create-an-account h3 {
    color: white;
    background-color: rgb(44, 44, 190);
    text-align: center;
    padding: 3px 0;
}

#contact-me .contact-list .create-an-account p {
    margin: 0;
    color: white;
    font-size: 18px;
}

#contact-me .contact-list .create-an-account button {
    margin-top: 10px;
    transition: .4s;
}

#contact-me .contact-list .create-an-account button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

#contact-me .contact-list .log-in {
    padding: 100px 20px;
    width: 50%;
}

#contact-me .contact-list .log-in h3 {
    color: white;
    background-color: rgb(44, 44, 190);
    text-align: center;
    padding: 3px 0;
}

#contact-me .contact-list .log-in p {
    margin: 0;
    color: white;
    font-size: 18px;
}

#contact-me .contact-list .log-in button {
    margin-top: 10px;
    transition: .4s;
}

#contact-me .contact-list .log-in button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* contact-me css end */

.update-part .text {
    text-align: center;
}

.update-part .text h1 {
    font-weight: 700;
    font-size: 50px;
}

.update-part .text p {
    font-size: 18px;
    color: rgb(192, 182, 182);
    padding: 0 378px;
}

.update-part .details {
    background-color: rgb(156, 156, 168);
    margin-left: 330px;
    width: 700px;
    height: 200px;
    display: flex;
}

.update-part .details .email-contact {
    display: flex;
    padding: 100px 240px;
}



.update-part .details .subscribe button {
    margin-left: 5px;
    transition: 4.s;
}

.update-part .details .subscribe button:hover {
    background-color: tomato;
    cursor: pointer;
    color: white;
}

/* update-part css end */
footer {
    text-align: center;
    margin-top: 100px;
    padding: 10px 0;
    background-color: rgb(113, 101, 101);
}

footer h1 {
    font-style: italic;
}

footer p {
    color: white;
}