body {
    margin: 0 auto;
}



#header-part {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header-part .text {
    text-align: center;
    padding: 180px 150px;
}

#header-part .text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: white;
}

#header-part .text p {
    margin-top: -25px;
    color: white;
    padding: 0 200px;
    font-size: 20px;
}

#header-part .text a {
    background-color: tomato;
    padding: 7px 10px;
    color: #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: .4s;
}

#header-part .text a:hover {
    background-color: navy;
}

/* header-part css end */


.donate-today-part .donate-text {
    text-align: center;
    margin-top: 100px;
}

.donate-today-part .donate-text h1 {
    font-size: 50px;
}

.donate-today-part .donate-text p {
    color: rgb(145, 141, 141);
    padding: 0 360px;
    font-size: 20px;

}





.donate-today-part .box-contain {
    justify-content: space-evenly;
    padding: 0 300px;
    text-align: center;
    display: flex;
}

.donate-today-part .box-contain .box1 {
    margin: 30px 0;
    padding: 15px 30px;
    transition: .4s;
    color: rgb(165, 155, 155);
}

.donate-today-part .box-contain .box1:hover {
    color: white;
    background: tomato;
    border-radius: 5px;
}

.donate-today-part h3 {
    text-align: center;
    color: rgb(145, 141, 141);
    padding: 20px;
}

.donate-today-part hr {
    margin-bottom: 30px;
}

.donate-today-part a {
    background-color: tomato;
    padding: 7px 10px;
    color: #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: .4s;
    margin: 0 620px;
}

.donate-today-part a:hover {
    background-color: navy;
}

/* donate-today-part css end */